// Place all the styles related to the admins/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//管理者トップページのCSS

.admins-top h3 {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 30px;
}

.admins-top p {
  font-size: 30px;
  margin-top: 50px;
}