.customer-session-container {
  padding-top: 100px;
  width: 100%;
  margin: 20px auto;
}

.customer-session {
  width: 80%;
  text-align: center;
}


.cus_field {
  padding-top: 10px;
}

.customer_login_form {
  text-align: right;
}

.actions {
  margin-right: 850px;
  margin-top: 20px;
}

.public-submit {
  padding: 12px 43px;
}