<div class="container">
<div class="about-1 text-center">
<h1>About</h1>

<p>
  ながのCakeは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
</p>
</div>

<div class="about-2">
  <%= image_tag asset_path('about_image.jpg'), :size => '400x300'%>
  <div class="shop-info">
    <div class="info-head">
      <p>店舗情報</p>
    </div>
    <div class="info">
      <p>
        店舗名：ながのCAKE<br>
        住所：東京都渋谷区渋谷1-1-1<br>
        電話番号：03-1111-1111<br>
        営業時間：10:00-20:00
      </p>
    </div>
  </div>
  </div>

</div>