/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
  background-color: gray;
}

footer {
  width: 100%;
  height: 80px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  clear: both;
}


// 管理者のログイン画面のCSS
.admin_email {
  padding-bottom: 30px;
}

.admin_password {
  padding-bottom: 30px;
}

.admin_login_btn {
  padding-left: 240px;
}

// 顧客新規登録画面のCSS

.registrations_form {
  padding-bottom: 10px;
}

// .first_name_label {
//   padding-left: 30px;
// }


// 管理者側の商品一覧のCSS

.new_button {
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
}




